version: 2
jobs:
  build:
    working_directory: ~/wp-e2e-tests
    docker:
      - image: 'circleci/node:10.5.0-browsers'
        environment:
          NODE_ENV: test
          TARGET: BRANCHES
    steps:
      - checkout
      - run: git submodule init
      - run: git submodule update --remote --force
      - run: cd wp-e2e-tests && git checkout origin/${E2E_BRANCH-master}
      - restore_cache:
          keys:
            - v1-npmcache-{{ checksum "wp-e2e-tests/.nvmrc" }}-{{ checksum "wp-e2e-tests/package-lock.json" }}
            - v1-npmcache-{{ checksum "wp-e2e-tests/.nvmrc" }}
            - v1-npmcache
      - run: cd wp-e2e-tests && npm ci
      - save_cache:
          key: v1-npmcache-{{ checksum "wp-e2e-tests/.nvmrc" }}-{{ checksum "wp-e2e-tests/package-lock.json" }}
          paths:
            - "~/.npm"
      - run: if [ "$LIVEBRANCHES" = true ]; then ./wait-for-running-branch.sh; fi
      - run: cd wp-e2e-tests && npm run decryptconfig
      - run: sudo chmod +x wp-e2e-tests/node_modules/.bin/magellan
      - run: echo running test command "./run.sh -R ${testFlag--C} $RUN_ARGS"
      - run: cd wp-e2e-tests && ./run.sh -R ${testFlag--C} $RUN_ARGS
      - store_test_results:
          path: wp-e2e-tests/reports/
      - store_artifacts:
          path: wp-e2e-tests/reports/
      - store_artifacts:
          path: wp-e2e-tests/screenshots/
notify:
  webhooks:
    - url: https://a8c-gh-e2e-bridge.go-vip.co/circleciwebhook
